@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    color: #4b5563;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}


#animals-row-one {
    display: flex;
    border: solid 1px red;
    margin-top: 40px;
    height: 250px;
    text-align: center;
}

.animal-one {
    border: solid 1px green;
    display: inline-block;
    height: 240px;
    width: 240px;
}

.animal-two {
    border: solid 1px green;
    display: inline-block;
    height: 240px;
    width: 240px;
}

.animal-three {
    border: solid 1px green;
    display: inline-block;
    height: 240px;
    width: 240px;
}

.animal-four {
    border: solid 1px green;
    display: inline-block;
    height: 240px;
    width: 240px;
}

.image-one {
    height: 240px;
    width: 240px;
}

